$colors: (
  'primary-text-color': #404040,
  'background': #161f49,
  'white': #ffffff,
  'black': #000000,
  'button-color': #2468ff,
  'color-name': #999999,
  'color-grey': #646565,
  'border-color': #dedede,
);

@function getColor($key) {
  @return map-get($colors, $key);
}
