p {
    background-color: #161F49;
    margin: 0;
    height: 33px;
    padding-top: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.64;
/* identical to box height, or 164% */

    text-align: center;
    letter-spacing: 0.10998px;
    color: #FFFFFF;
}