@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap';
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}

.header__deal {
  background-color: #161F49;
  margin: 0;
  height: 33px;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.64;
  /* identical to box height, or 164% */
  text-align: center;
  letter-spacing: 0.10998px;
  color: #FFFFFF;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__item--logo {
  padding-left: 36px;
  padding-top: 16px;
  padding-bottom: 15px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item:not(:last-child) {
  margin-right: 33px;
}

.nav__link {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  /* identical to box height, or 139% */
  text-align: center;
  letter-spacing: 0.10998px;
  color: #404040;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 166px;
  background-color: #2468FF;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
  /* identical to box height, or 179% */
  letter-spacing: 0.10998px;
  text-transform: uppercase;
}

.hero {
  height: 687px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/familyfirst.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  text-align: center;
}

.hero-title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.11;
  color: #FFFFFF;
}

.hero-text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.38;
  color: #FFFFFF;
}

.hero-button {
  padding: 16px 37px 21px 37px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.96;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-color: #FFFFFF;
  margin-bottom: 87px;
}

.wifi {
  margin-left: auto;
  margin-right: auto;
}

.connection {
  text-align: center;
}

.connection-text {
  margin-top: 66px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  color: #404040;
}

.conaction-svg {
  margin-bottom: 28px;
}

.connection-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
}

.connection-block {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  border-bottom: 1px solid #404040;
  width: 78px;
  text-align: center;
}

.connection-title {
  margin-bottom: 44px;
  width: 729px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #404040;
}

.connection-info {
  margin-bottom: 78px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 736px;
}

.connection-button {
  margin-left: auto;
  margin-right: auto;
  padding: 17px 37px 21px 37px;
  background-color: #2468FF;
  width: 244px;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.connection-img {
  margin-left: auto;
  margin-right: auto;
}

.quote {
  background-color: #404040;
  height: 580px;
}

.quote .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 284px;
}

.quote-txt {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  line-height: 0.98;
  vertical-align: top;
  color: #FFFFFF;
  width: 823px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48.9px;
}

.stayconnected {
  height: 480px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/familysecond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stayconnected .container {
  padding-top: 111px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stayconnected-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  width: 596px;
  margin-bottom: 83px;
}

.stayconnected-button {
  margin-left: auto;
  margin-right: auto;
  padding: 17px 37px 21px 37px;
  background-color: #2468FF;
  width: 234px;
  height: 52px;
}

.stayconnected-link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.never-worry__header {
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #404040;
  font-weight: 400;
  margin-top: 116px;
}

.never-worry__box {
  display: flex;
  justify-content: space-between;
  margin-top: 84px;
  margin: 84px 234px 120px;
}

.never-worry__block {
  position: relative;
  width: 206px;
  padding-bottom: 48px;
}
.never-worry__block__svg {
  margin-top: 0;
}

.never-worry__title {
  margin-top: 33px;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.15;
  color: #404040;
}

.never-worry__link {
  position: absolute;
  bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: #404040;
  border-bottom: 1px solid #404040;
}

.turn-out__header {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #404040;
  margin-top: 117px;
}

.turn-out__box {
  display: flex;
  margin-top: 123px;
}

.turn-out-div {
  padding: 0 80px;
}

.turn-out__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.turn-out__item {
  font-size: 14px;
  line-height: 1.32;
  text-transform: uppercase;
  color: #999999;
  padding-bottom: 6px;
  border-bottom: 2px solid #dedede;
}

.current {
  color: #2468ff;
  border-bottom: 2px solid #2468ff;
}

.turn-out__text {
  padding-top: 35px;
  font-size: 36px;
  line-height: 1.45;
  color: #404040;
}

.turn-out__name {
  margin-top: 28px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1.4;
  color: #646565;
}

.turn-out__button {
  margin-top: 30px;
  padding: 17px 37px 21px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.08;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2468ff;
  cursor: pointer;
}

.turn-out__pre-title {
  margin-top: 35px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #404040;
}

.turn-out__button--long {
  margin: 45px auto 93px;
  padding: 17px 66px 21px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.08;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2468ff;
  border: none;
}

.footer {
  background-color: #161F49;
}

.footer .container {
  padding: 90px 190px;
}

.footer__logo {
  fill: #FFFFFF;
  margin-bottom: 60px;
}

.footer__middle {
  display: flex;
}

.footer__column {
  display: flex;
  width: 525px;
}

.footer__firstcolumn {
  margin-right: 85px;
}

.firstcolumn__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.48;
  /* identical to box height, or 148% */
  color: #FFFFFF;
}

.firstcolumn__item:not(:last-child) {
  margin-bottom: 9px;
}

.secondcolumn__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.48;
  /* identical to box height, or 148% */
  color: #FFFFFF;
}

.secondcolumn__item:not(:last-child) {
  margin-bottom: 9px;
}

.join__icon {
  fill: #FFFFFF;
}

.footer__title {
  margin-bottom: 1px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.33;
  /* identical to box height, or 133% */
  color: #FFFFFF;
}

.footer__text {
  margin-bottom: 66px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  /* identical to box height, or 140% */
  color: #FFFFFF;
}

.footer__form {
  display: flex;
}

.footer__join {
  margin-left: 30px;
}

.footer__input {
  margin-right: 28px;
  width: 293px;
  height: 53px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.footer__button {
  width: 191px;
  height: 53px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  /* identical to box height, or 118% */
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
}

.footer__social {
  display: flex;
  align-items: baseline;
  margin-top: 40px;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* identical to box height, or 164% */
  letter-spacing: 0.10998px;
  color: #FFFFFF;
  margin-right: 277px;
}

.social__link {
  margin-right: 27px;
}/*# sourceMappingURL=index.css.map */