<section class="connection">
  <div class="container">
    <p class="connection-text">Explore eero systems on</p>
    <div>
      <svg class="conaction-svg" width="108" height="33">
        <use href="./images/sprite.svg#icon-Frame"></use>
      </svg>
    </div>
    <div class="connection-block">
      <a class="connection-link" href="">Shop now</a>
    </div>
    <h2 class="connection-title">
      More wifi for the devices in your connected home.
    </h2>
    <p class="connection-text connection-info">
      eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase
      your internet’s efficiency, and reduce network congestion. Say goodbye to
      dead spots and buffering with a connection that doesn’t slow you down,
      even as you add more devices.
    </p>
    <div class="connection-button">
      <a class="link" href="">Find your eero system</a>
    </div>
    <img class="connection-img" src="./images/house.jpg" alt="house" />
  </div>
</section>
