<section class="find">
    <div class="container find-position">
    <h2 class="find__title">Find your eero </br> system</h2>
    <svg class="find__svg" width="300" height="96"><use href="./images/sprite.svg#icon-Frame-6"></use></svg>
    <img class="find__img" src="./images/eco.png" alt="Nature">
    <div class="find__block">
        <p class="find__text">I have a</p>
        <p class="find__text">home.</p>
    </div>
    <button class="find__button" type="button">Next</button>
</div>
</section>