<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <a  href="">
                <svg class="footer__logo" width="86" height="39">
                    <use href="./images/symbol-defs.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="footer__middle">
                <ul class="footer__list">
                    <li class="footer__menu">
                        <ul class="footer__column">
                            <li class="footer__firstcolumn">
                                <ul class="firstcolumn__list">
                                    <li class="firstcolumn__item">
                                        <a class="firstcolumn__link" href="">Products</a>
                                    </li>
                                    <li class="firstcolumn__item">
                                        <a class="firstcolumn__link" href="">How it works</a>
                                    </li>
                                    <li class="firstcolumn__item">
                                        <a class="firstcolumn__link" href="">Technology</a>
                                    </li>
                                    <li class="firstcolumn__item">
                                        <a class="firstcolumn__link" href="">eero Secure</a>
                                    </li>
                                    <li class="firstcolumn__item">
                                        <a class="firstcolumn__link" href="">Support</a>
                                    </li>
                                    <li class="firstcolumn__item">
                                        <a class="firstcolumn__link" href="">Find your System</a>
                                    </li>
                                    <li class="firstcolumn__item">
                                        <a class="firstcolumn__link" href="">Cookie preferences</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer__secondcolumn">
                                <ul class="secondcolumn__list">
                                    <li class="secondcolumn__item">
                                        <a class="secondcolumn__link" href="">Shop</a>
                                    </li>
                                    <li class="secondcolumn__item">
                                        <a class="secondcolumn__link" href="">Careers</a>
                                    </li>
                                    <li class="secondcolumn__item">
                                        <a class="secondcolumn__link" href="">Blog</a>
                                    </li>
                                    <li class="secondcolumn__item">
                                        <a class="secondcolumn__link" href="">Media room</a>
                                    </li>
                                    <li class="secondcolumn__item">
                                        <a class="secondcolumn__link" href="">Legal</a>
                                    </li>
                                    <li class="secondcolumn__item">
                                        <a class="secondcolumn__link" href="">Custom installer</a>
                                    </li>
                                    <li class="secondcolumn__item">
                                        <a class="secondcolumn__link" href="">Where to buy</a>
                                    </li>
                                    <li class="secondcolumn__item">
                                        <a class="secondcolumn__link" href="">eero for Service Providers</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="footer__join">
                    <h3 class="footer__title">Connect with us</h3>
                    <p class="footer__text">For the latest eero news and promotions.</p>
                    <form class="footer__form">
                        <input class="footer__input" type="email" name="email" placeholder="EMAIL">
                        <button class="footer__button" type="submit">Submit</button>
                    </form>
                </div>
            </div>        
            <div class="footer__social">
                <p class="social__text">&#169; 2021 EERO LLC, SAN FRANCISCO, CA</p>
                <ul class="social__list">
                    <li>
                        <a class="social__link" href="">
                            <svg class="join__icon" width="30" height="30">
                                <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social__link" href="">
                            <svg class="join__icon" width="30" height="30">
                                <use href="./images/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social__link" href="">
                            <svg class="join__icon" width="30" height="30">
                                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social__link" href="">
                            <svg class="join__icon" width="30" height="30">
                                <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social__link" href="">
                            <svg class="join__icon" width="30" height="30">
                                <use href="./images/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>