<header>
    <div class="container">
        <p class="header__deal">Free 2-day shipping | 30-day money back guarantee</p>
        <ul class="header__list">
            <li class="header__item  header__item--logo">
                <svg class="features-icons" width="107" height="49">
                    <use href="./images/symbol-defs.svg#icon-logo"></use>
                </svg>
            </li>
            <li class="header__item">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="">Products</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="">How it works</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="">Technology</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="">eero Secure</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="">Support</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="">Find your system</a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li class="header__item">
                <div class="header__button1">
                    <a class="header__button" href="">Shop</a> 
                </div>
                
            </li>
        </ul>
    </div>
</header>

