<section class="home">
    <div class="comtainer">
        <h2 class="home-title">Give your home the connectivity it deserves.</h2>
        <p class="home-text">Say goodbye to dead spots, drop-offs, and buffering— even when the whole family is online.
         With eero, a simple and reliable connection is a given. Get a consistently strong signal for streaming,
         gaming, and working from every part of your home.</p>
        <img class="home-pic" src="./images/workman.jpg" alt="man in house" > 

    </div>
</section>
