<section class="never-worry">
  <div class="container">
    <h2 class="never-worry__header">Never worry about wifi again.</h2>

    <div class="never-worry__box">
      <div class="never-worry__block">
        <svg class="never-worry__svg" width="77" height="77">
          <use href="./images/sprite.svg#icon-Frame-3"></use>
        </svg>
        <h3 class="never-worry__title">Fast and easy setup</h3>
        <p class="never-worry__text">
          Unbox your eero devices, download the app, and start surfing the web
          in minutes. The eero app makes it easy to set up and manage wifi for
          everyone at home.
        </p>
        <a class="never-worry__link" href="">CHECK OUT THE APP</a>
      </div>

      <div class="never-worry__block">
        <svg class="never-worry__svg" width="77" height="77">
          <use href="./images/sprite.svg#icon-Frame-4"></use>
        </svg>
        <h3 class="never-worry__title">Advanced network protection</h3>
        <p class="never-worry__text">
          Every eero comes with world-class encryption and security protocols.
          Add on eero Secure to get even more protection with parental controls,
          ad blocking, and more.
        </p>
        <a class="never-worry__link" href="">GET EERO SECURE</a>
      </div>

      <div class="never-worry__block">
        <svg class="never-worry__svg" width="77" height="77">
          <use href="./images/sprite.svg#icon-Frame-5"></use>
        </svg>
        <h3 class="never-worry__title">Always getting better</h3>
        <p class="never-worry__text">
          eero automatically updates to bring you security patches, improved
          performance, and new features.
        </p>
        <a class="never-worry__link" href="">READ ABOUT EERO UPDATES</a>
      </div>
    </div>
  </div>
</section>
