<section class="shop">
    <div class="container">
        
    <div class="shop-block">
    <div class="shop-menu">
        <div class="shop-wifi-block">
            <p class="shop-wifi">Wi-Fi 6</p>
        </div>
            <h2 class="shop-title">eero Pro 6</h2> 
            <h2 class="shop-title-two">The fastest<br> eero yet.</h2>
            <p class="shop-info">Tri-band Wi-Fi 6 system designed for homes with<br>gigabit internet connections.</p>
            <p class="shop-info">Starting at $229</p>
        <button class="button shop-button">Shop now</button>
    </div>

    <div class="shop-menu">
        <div class="shop-wifi-block">
            <p class="shop-wifi">Wi-Fi 6</p>
        </div>
            <h2 class="shop-title">eero 6</h2> 
            <h2 class="shop-title-two">Experience Wi-Fi 6—the new <br>standard for home wifi.</h2>
            <p class="shop-info">Dual-band Wi-Fi 6 system designed for homes with <br>500 Mbps internet connections.</p>
            <p class="shop-info">Starting at $129</p>
        <button class="button shop-button">Shop now</button>
    </div>
</div>       
    <div class="shop-nav">
        <a class="shop-link" href="">Compare All Models</a>
    </div>
</div>
</section>