<section class="turn-out">
  <div class="container">
    <h2 class="turn-out__header">Turns out, people love great wifi.</h2>
    <div class="turn-out__box">
      <img
        src="./images/fourpeople.jpg"
        alt="родина з чотирьох людей"
        width="720"
        height="488"
      />

      <div class="turn-out-div">
        <ul class="turn-out__list">
          <li class="turn-out__item current">Setup</li>
          <li class="turn-out__item">Coverage</li>
          <li class="turn-out__item">Reliability</li>
          <li class="turn-out__item">Security</li>
        </ul>

        <p class="turn-out__text">
          Setting up our eeros was a breeze thanks to the plug and play
          installation. The whole experience was life changing compared to other
          routers we’ve used.
        </p>

        <p class="turn-out__name">The Rankins</p>
        <p class="turn-out__info">Seattle, WA | 4 Bedroom house</p>
        <p class="turn-out__info">3,300 sq. ft.</p>
        <p class="turn-out__info">16connected devices</p>
        <p class="turn-out__info">Us eeero 3-pack</p>

        <a href="" class="turn-out__button" type="button">
          Shop all eero systems
        </a>
      </div>
    </div>

    <h2 class="turn-out__header">The experts are in.</h2>
    <p class="turn-out__pre-title">
      Our team is just a (toll-free) phone call, email, or tweet away.
    </p>
    <button class="turn-out__button--long" type="button">Help center</button>

    <ul class="turn-out__benefits">
      <li>
        <svg class="turn-out__svg" width="36" height="36">
          <use href="./images/sprite.svg#icon-Frame-7"></use>
        </svg>
        <p>30-day guarantee</p>
      </li>
      <li>
        <svg class="turn-out__svg" width="36" height="36">
          <use href="./images/sprite.svg#icon-Frame-8"></use>
        </svg>
        <p>Free support</p>
      </li>
      <li>
        <svg class="turn-out__svg" width="36" height="36">
          <use href="./images/sprite.svg#icon-Frame-9"></use>
        </svg>
        <p>Free shipping</p>
      </li>
      <li>
        <svg class="turn-out__svg" width="36" height="36">
          <use href="./images/sprite.svg#icon-Frame-10"></use>
        </svg>
        <p>1-year warranty</p>
      </li>
    </ul>
  </div>
</section>
