<section class="section wifipotential">
      <div class="container">
        <ul class="icons list">
          <li class="wifipotential__item">
            <a href="" class="wifipotential__link link">
              <svg class="wifipotential__icon" width="79" height="79">
                <use href="./images/sprite.svg#icon-lamp"></use>
              </svg>
            </a>
          </li>
          <li class="wifipotential__item">
            <a href="" class="wifipotential__link link">
              <svg class="wifipotential__icon" width="79" height="79">
                <use href="./images/sprite.svg#icon-btn"></use>
              </svg>
            </a>
          </li>
          <li class="wifipotential__item">
            <a href="" class="wifipotential__link link">
              <svg class="wifipotential__icon" width="79" height="79">
                <use href="./images/sprite.svg#icon-wifi"></use>
              </svg>
            </a>
          </li>
        </ul>
        <h2 class="wifipotential__title">Unlock your wifi’s potential.</h2>
        <p class="wifipotential__text">
          Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub,
          making it easy to connect compatible devices with Alexa. So you can
          control certain lights, locks, plugs, and more—without the need to buy
          separate smart home hubs for each.
        </p>
        <button type="button" class="wifipotential__button">Learn More</button>
      </div>
    </section>