<section class="work">
  <div class="container">
    <h2 class="work-title">TrueMesh covers your whole home.</h2>
    <p class="work-text">
      TrueMesh learns the layout of your home to intelligently route traffic and
      optimize your wifi. eero 6 and eero Pro 6 are the first Wi-Fi 6 routers
      with eero’s TrueMesh technology.
    </p>
    <div class="work-button">
      <a class="work-link" href="">Find your eero system</a>
    </div>    
    <img class="work-img  width="666" height="304"" src="./images/housefree.jpg" alt="wi-fi-house">
  </div>
</section>
