.header__deal {
    background-color: #161F49;
    margin: 0;
    height: 33px;
    padding-top: 5px;

    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.64;
/* identical to box height, or 164% */

    text-align: center;
    letter-spacing: 0.10998px;
    color: getColor('white');
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
}

.header__item--logo {
    padding-left: 36px;
    padding-top: 16px;
    padding-bottom: 15px;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 33px;
}

.nav__link {
    padding-top: 18px;
    padding-bottom: 18px;

    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    /* identical to box height, or 139% */

    text-align: center;
    letter-spacing: 0.10998px;

    color: #404040;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    width: 166px;
    background-color: getColor('button-color');
    color: getColor('white');

    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.79;
    /* identical to box height, or 179% */

    letter-spacing: 0.10998px;
    text-transform: uppercase;
}
