.quote {
  text-align: center;
  align-items: center;
  background-color: #404040;
  padding: 200px 309px 205px 308px;
}
.quote-txt {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  line-height: 0.98;
  vertical-align: top;
  color: #ffffff;
  margin-bottom: 48.9px;
  width: 823px;
}
